body{
    height: 100%;
    margin: 0;
    background-color: rgb(36, 41, 51);
    font-family: 'Montserrat Alternates', sans-serif;
}
.main-container{
    color: rgb(236, 239, 244);
    text-align: center;
}
#welcome-section{
    background-color: rgb(46, 52, 64);
    margin-left: 156px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#navbar{
    background-color: rgb(46, 52, 64);
    top: 0;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: sticky;
    z-index: 1;

}
#nav-link li{
    display: inline;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    float: right;
}
#nav-link #nav-bar-title{
    float: left;
}
#projects hr{
    margin: 40px;
}
#project-tile{
    background-color: rgb(46, 52, 64);
    padding: 40px;
    border-radius: 10px;
    margin: 10px;
}
#project-tile{
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}
#landing-page, #dailydinner, #kamisama{
    width: 360px;
    height: 300px;
    border-radius: 10px;
    margin: 0px;
    transition: all 0.7s;
}
#landing-page:hover, #dailydinner:hover, #kamisama:hover{
    transform: scale(1.1);
}
.project-imgs{
    width: 400px;
}
#project-title{ 
    transition: all 0.3s;
}
#project-title:hover{
    color: crimson;
    cursor: pointer;
    transform: scale(1.1);
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    color: crimson;
    cursor: pointer;
    transform: scale(1.1);
}
#social-media{
    background-color: rgb(46, 52, 64);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
}
.wapper{
    display: inline-flex;
    width: 7%;
    justify-content: space-evenly;   
}
#github-link, #freecodecamp-link, #linkedin-link, #twitter-link{
    margin: 15px;
    height: 46px;
}
.link-title{
    display: flex;
    align-items: center;
}
@media (max-width: 500px){
    #project-tile{
        width:fit-content;
        display: block;    
    }
}
@media (max-width: 700px){
    #project-tile{
        width:fit-content;
        display: block;       
    }
}