body{
    height: 100%;
    margin: 0;
    background-color: rgb(36, 41, 51);
    font-family: 'Montserrat Alternates', sans-serif;
}
.main-container{
    color: rgb(236, 239, 244);
}
#welcome-section{
    background-color: rgb(46, 52, 64);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
.intro-text{
    display: flex;
    justify-content: center;
}
#navbar{
    background-color: rgb(46, 52, 64);
    top: 0;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: sticky;
    z-index: 1;
    border-bottom: 1.2px solid black;

}


#nav-link ul{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3%;
    list-style: none;
}

hr{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

#project-main-title{
    display: flex;
    justify-content: center;
}
#project-tile{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(46, 52, 64);
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    z-index: 2;
    gap: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#landing-page, #dailydinner, #kamisama{
    display: inline;
    width: 380px;
    height: 300px;
    border-radius: 10px;
    transition: all 0.6s;

}
#landing-page:hover, #dailydinner:hover, #kamisama:hover{
    transform: scale(1.03);
}
.project-imgs{
    width: 400px;
}
#project-title{ 
    transition: all 0.3s;
}
#project-title:hover{
    color: crimson;
    cursor: pointer;
    transform: scale(1.1);
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    color: crimson;
    cursor: pointer;
    transform: scale(1.1);
}
#social-media{
    background-color: rgb(46, 52, 64);
    padding: 40px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.icon-social{
    display: flex;
    gap: 30px;
    height: 50px;
    margin-bottom: 30px;
    justify-content: center;

}
.icon-social p{
    display: flex;
    font-family: 'Montserrat Alternates', sans-serif;
}

#footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 500px){
    #project-main-title{
        display: flex;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }
    #project-tile{
        display: flex;
        flex-wrap: wrap;    
        margin-left: 25%;
        margin-right: 25%;
        justify-content: center;
        align-content: center;  
    }
    #landing-page, #dailydinner, #kamisama{
        height: 160px;
        width: 160px;
    }
    #social-media{
        flex-wrap: wrap;
        margin-left: 25%;
        margin-right: 25%;

        margin-bottom: 10px;

    }
    .icon-social{
        display: flex;
        flex-wrap: wrap;
    }

    .icon-social p{
        text-align: center;
    }
    #footer{
    display: flex;
    justify-content: center;
    font-size: small;
    position: static;
    bottom: 0;
}

}
@media (max-width: 700px){
    #project-main-title{
        display: flex;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }
    #project-tile{
        display: flex;
        flex-wrap: wrap;    
        margin-left: 25%;
        margin-right: 25%;
        justify-content: center;
        align-content: center;  
    }
    #landing-page, #dailydinner, #kamisama{
        height: 160px;
        width: 160px;
    }
    #social-media{
        flex-wrap: wrap;
        margin-left: 25%;
        margin-right: 25%;
        padding-bottom: 45%;
        margin-bottom: 10px;

    }
    .icon-social{
        display: flex;
        flex-wrap: wrap;
    }

    .icon-social p{
        text-align: center;
    }
}